@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
    --title-color: #354698;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #f8f9fd;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.serch-container {
  border-radius: 5px;
  box-sizing: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  top: 10px;
  position: absolute;
}

.serch-hearder {
  background-color: var(--title-color);
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0%;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.5;
}

#filter {
    border: none;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
}

#filter:focus {
  outline: none;
}

.user-card {
  display: flex;
  padding: 10px;
  border: 1px solid #eee;
  background-color: rgb(148, 69, 40);
  color: #fff;
}
.user-list {
  position: absolute;
  top: 150px;
  width: 400px;
  height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.user-image {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}


.user-list .user-card.hide{
    display: none;
}